# Ignore all CSV, JSON, and PKL files
*.csv
*.json
*.pkl

# Ignore specific directories and files
lightning_logs/
*_output/
.DS_Store
*.pyc
Report/

# Ignore the data directory, except public performance
data/
data/plots
!data/results/depressionResultsOriginal.csv
/data/plots
/data/plots
